*
    font-family: 'Ubuntu', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0
body
    scroll-behavior: smooth
    min-width: 320px
    color: #212529
    -webkit-font-smoothing: antialiased
.container
    width: 100%
    margin: 0 auto
    padding: 0 40px
button
    outline: none

     
